spring:
    profiles:
        active: local  # ??? local, ?? ? prod? override

    mvc:
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp

    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                format_sql: true
                show_sql: true

server:
    port: 8080

logging:
    config: classpath:logback-spring.xml